# Application Configuration
VITE_APP_URL=http://localhost:7777
VITE_API_SCOPE=ecs-api/all

# Production Environment
VITE_PROD_API_BASE_URL=https://mpgj92ie2d.execute-api.ap-southeast-1.amazonaws.com/prod
VITE_PROD_COGNITO_DOMAIN=https://ecs-dash-d1de95.auth.ap-southeast-1.amazoncognito.com
VITE_PROD_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_VstVtdqzY
VITE_PROD_COGNITO_CLIENT_ID=5p20qbsah6js1nipk35n0mt63m

# Staging Environment
VITE_STG_API_BASE_URL=https://5y4fp0ghhe.execute-api.ap-southeast-1.amazonaws.com/prod
VITE_STG_COGNITO_DOMAIN=https://ecs-dash-0bxd6j.auth.ap-southeast-1.amazoncognito.com
VITE_STG_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_zWAM10I87
VITE_STG_COGNITO_CLIENT_ID=69d2bbk3i6ad3ppekfgg41lj51

# QA Environment
VITE_QA_API_BASE_URL=https://qa-api.example.com/prod
VITE_QA_COGNITO_DOMAIN=https://ecs-dash-qa.auth.ap-southeast-1.amazoncognito.com
VITE_QA_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_qa_pool
VITE_QA_COGNITO_CLIENT_ID=qa_client_id

# Development Environment
VITE_DEV_API_BASE_URL=https://dev-api.example.com/prod
VITE_DEV_COGNITO_DOMAIN=https://ecs-dash-dev.auth.ap-southeast-1.amazoncognito.com
VITE_DEV_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_dev_pool
VITE_DEV_COGNITO_CLIENT_ID=dev_client_id