VITE_COGNITO_CLIENT_ID=5p20qbsah6js1nipk35n0mt63m
VITE_APP_URL=http://localhost:7777

VITE_COGNITO_DOMAIN_URL=https://ecs-dash-d1de95.auth.ap-southeast-1.amazoncognito.com
VITE_COGNITO_AUTHORITY=https://cognito-idp.ap-southeast-1.amazonaws.com/ap-southeast-1_VstVtdqzY

VITE_API_BASE_URL=https://mpgj92ie2d.execute-api.ap-southeast-1.amazonaws.com/prod

VITE_API_SCOPE=ecs-api/all

# VITE_CLIENT_ID=klkudunm7bpn88mjm5t4brrcp
# VITE_CLIENT_SECRET=